.container-full-width {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  overflow: hidden;
  background-color: $light-gray;
  // margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 0 auto;
}


.container-large {
  background-color: $white;
  margin: 0 auto;
  border-radius: 8px;

}
