// Specific CSS for your home-page

h1 {
  font-family: Pacifico;
  font-size: 32px;
  font-weight: regular;
  color: $cherry;
  text-align: center;
  padding: 16px;
}


.home {
  display: flex;
  flex-direction: column;
  // background-color: $jf-pink;
  width: 100%;
  gap: 16px;
  padding: 0 8px;
}
