.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 48px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("landing-photo.jpg");
  background-size: cover;
  background-position: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
  gap: 48px;

}

.banner-content a {
  font-size: 24px;
}

h2 {
  font-size: 24 px;
  color: $jf-pink;
 }

.navbar-landing, .footer-landing {
  display: none;
  visibility: hidden;
}

body{
  margin-top:0px;
  margin-bottom: 0px;
}
