.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("landing-photo.jpg");
  background-size: cover;
  background-position: center;
  h2 {
    font-family: Pacifico;
    font-size: 24 px;
    color: $cherry;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
  }
}

.navbar-landing, .footer-landing {
  display: none;
  visibility: hidden;
}

body{
  margin-top:0px;
  margin-bottom: 0px;
}

.banner-content{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 34px;
a{
  margin-top: 150px;
}
}
