.form {
  width: 500px;
  background-color: $jf-pink;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
}

.form-control, .form-select{
  background-color: $light-gray;
  border-radius:8px;
 }
