.card-item {
  display:flex;
  background-color: $light-gray;
  padding: 16px;
  width: 888px;
  height: 464px;
  gap: 24px;
  border-radius: 16px;
}

.card-item > img {
  width: 350px;
  object-fit: cover;
  border-radius: 16px;
}
.item-info {
  width: 472px;
}

.item-frame {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.item-frame-user {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
}


.item-info h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: $light-cherry;

}

.item-info p {
  font-size: 18px;
  font-weight: regular;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.description {
  width: 409px;
  height: 161px;
  padding: 10px;
}

.calendar-dates {
  display:flex;
  justify-content: space-between;
}

.calendar {
  padding: 10px;
  color: $gray;
}
