.container-full-show {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $light-gray;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content:center;
}

.container-large-show {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: $white;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 1360px;
  height: 80%;
}

.card-item {
  display:flex;
  justify-content: space-around;
  gap: 24px;
  max-width: 1360px;
  width: 100%;
  height: 60%;
  background-color: $white;
  padding: 16px;
  margin: 0 auto;
  border-radius: 16px;

}

.item-info-img {
  display: flex;
  flex-direction: column;
  background-color: $white;
  gap: 10px;
  border-radius: 8px;
  box-shadow: $box-shadow;
 }

.item-info-img > img {
  width: 100%;
  min-width: 300px;
  object-fit: cover;
  border-radius: 8px;
  height: 200px;
}

.item-info {
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.other-items {
  background-color: $jf-pink;
  padding: 10px;
  border-radius: 8px;
  box-shadow: $box-shadow;

}

.other-items h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 4px;
  color: $cherry;

}

.card-grid-show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-product-show {
  width: 65%;
  background-color: $light-gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  box-shadow: $box-shadow;
}

.item-frame h2{
  font-size: 16px;
  font-weight: bold;
  margin: 4px;
  color: $cherry;
}

.item-frame p{
  font-size: 14px;
  margin: 4px;
  color: $gray;
}

.item-frame-user {
  display:flex;
  padding: 10px;
  justify-content: space-between;
  gap: 4px;
  box-shadow: $box-shadow;
}

.item-info-top p {
  font-size: 14px;
  font-weight: regular;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.item-frame-user h3{
  text-align: center;
  font-size: 14px;
  margin: 4px;
  color: $cherry;
}

.item-frame-review h2{
  font-size: 16px;
  font-weight: bold;
  margin: 4px;
  color: $cherry;
  margin-bottom: 8px;
}

.item-frame-review {
  background-color: $white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.item-frame-calendar {
  background-color: $white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: $box-shadow;
}


.item-frame-calendar h2{
  font-size: 16px;
  font-weight: bold;
  margin: 4px;
  color: $cherry;
}


.reserve-icone {
  display:flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.description {
  width: 409px;
  height: 161px;
  padding: 10px;
}

.calendar-dates {
  display:flex;
  justify-content: space-between;
}

.calendar {
  padding: 10px;
  color: $gray;
}

.icon-chat {
  font-size: 24px;
  color: $white;
}


.item-frame-chat {
  background-color: $cherry;
  padding: 0 24px;
  border-radius: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
}


.button-chat {
  color: $white;
  background-color: $cherry;
  padding: 0 24px;
  border-radius: 50px;
  text-align: center;
  border: none;
  transition: all .5s;
 }

.button-chat:hover{
	color: $light-gray;
}

.truncate-gray {
  font-size: 10px;
  color: $gray;
}

.truncate-gray:hover {
  text-decoration: underline;
}
