<div class="footer <%= yield(:footer_class) %>">
  <div class="footer-links">
    <a href="//github.com/jfnumainville/cup_of_sugar"><i class="fab fa-github"></i></a>
    <a href="//www.cupofsugar.org/landing"><%= image_tag("favicon-cup-heart.png")%></a>
    </div>
  <div class="footer-copyright">
    Made by Andrii, J-F, Mark and Suzanne in Montréal
  </div>
</div>
