<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    </div>
  <div class="footer-copyright">
    Made by Andrii, J-F, Mark and Suzanne in Montréal
  </div>
</div>
