<div class="container">

  <div class="card-grid mt-5">
      <% @items.each do |item| %>
      <div class="card-product">
        <%= image_tag("bosch.jpg")%>
        <div class="card-product-infos">
            <h2><%= link_to item.name,item_path(item) %> </h2>
            <p><%= item.description %></p>
        </div>
         <div class="update-delete d-flex justify-content-around p-2">
            <i class="fas fa-trash-alt"></i>
            <i class="fas fa-edit"></i>
        </div>
      </div>
        <% end %>
  </div>
</div>
