<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="card-product m-5">
  <%= image_tag("bosch.jpg")%>
  <div class="card-product-infos">
    <h2>Bosch tool </h2>
    <p>nice.</p>
  </div>
</div>
