<% content_for(:body_class, "body-landing") %>
<% content_for(:navbar_class, "navbar-landing") %>
<% content_for(:footer_class, "footer-landing") %>
<div class="vc-container">
  <div class="vc-content">
    <h1 class="vc-heading">500</h1>
    <p class="vc-sub-heading">Internal Server <span class="blink-infinite">Error</span></p>
  </div>
</div>
