<% content_for(:body_class, "body-landing") %>
<%# <% content_for(:navbar_class, "navbar-landing") %>
<% content_for(:footer_class, "footer-landing") %>
<div class="body-404">
<div title="404">404 - Page not found</div>
</div>
