<div class="avatar-name-map" >
  <%= cl_image_tag user.picture.key, class: "avatar" %>
  <div>
  <% if current_user != user %>
    <p><%= user.name %></p>
    <p><%= user.address %></p>
  </div>
</div>
  <% end %>
<% user.items.each do |item| %>
  <p> <%= link_to (item.name), item_path(item)  %>, </p>
<% end %>
