<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>Nice!</h4>
        <p>You've successfully sent a request.</p>
      </div>
    </div>
  </div>
</div>
