<p id="review-<%= review.id %>"><%= review.description %></p>
      <i><small>by sugar-neighbour <strong><%=review.user.name.upcase %></strong> on <%= review.created_at.strftime("%a %b %e at %l:%M %p") %></small></i>
      <hr>
