.button-gold {
  color: $gray;
  background-color: $gold;
  padding: 8px 24px;
  border-radius: 50px;
  text-align: center;
  border: none;
  transition: all .5s;
 }

.button-gold:hover{
  background-color: rgba(255, 215, 0, 0.65);
	color: $gray;
}
.button-gold-clicked {
  color: $gray;
  background-color: $gold;
  border: 2px solid $gray;
  padding: 8px 24px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 1px 1px 3px $gray;
}
