.button-gold {
  color: $gray;
  background-color: $gold;
  padding: 8px 24px;
  border-radius: 50px;
  text-align: center;
  border: none;
  transition: all .5s;
 }

.button-gold:hover{
	color: white;
}
