.card-product-borrowing-lending {
  width: 200px;
  height: 400px;
  background-color: $light-gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}


.card-product-borrowing-lending > img {
  width: 100%;
  min-height:170px;
  object-fit: cover;
  border-radius: 16px;
}

.card-product-borrowing-lending h2 {
  font-size: 14px;
  margin: 0;
  color: $cherry;

}

.card-product-borrowing-lending p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-borrowing-lending .card-product-infos {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin: 8px auto 0;
  padding: 8px;
  height: 30%;
  width: 100%;
}

.request-infos {
  background-color: $white;
  border-radius: 8px;
  margin: 16px auto 0;
  padding: 4px;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 16%;
    height: auto;
  }
}

.status {
  display:flex;
  height: 100px;
}


.status .approved {
  color:green;
  font-size: 16px;;
}

.status .pending {
  color: $gold;
  font-size: 16px;;
}

.status .declined {
  color: $cherry;
  font-size: 16px;;
}

.request-infos-dates{
  background-color: $white;
  border-radius: 8px;
  margin: 16px auto 0;
  padding: 4px;
  height: 30%;
  width: 100%;
}
