.card-product-myitems {
  width: 200px;
  height: 400px;
  background-color: $light-gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}


.card-product-myitems img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 16px;
}

.card-product-myitems h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $cherry;

}

.card-product-myitems p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-myitems .card-product-infos {
  background-color: $white;
  border-radius: 8px;
  margin: 10 auto;
  padding: 8px;
  height: 30%;
  width: 100%;
}

.update-delete {
  background-color: $white;
  display:flex;
  justify-content: space-around;
  font-size: 12px;
  padding: 4px;
  align-items: center;
  width: 100%;
  border-radius: 8px;
}

.form-control {
  font-size: 14px;
}

.form-update {
  background-color: $jf-pink;
}

.form-select {
  font-size: 14px;;
}
