.card-product-myitems {
  width: 300px;
  height: 600px;
  background-color: $light-gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  padding: 16px;
  gap: 16px;
  box-shadow: $box-shadow;

}

.card-grid-myitems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-product-infos-myitems {
  background-color: $white;
  border-radius: 8px;
  padding: 16px;
  height: 150px;
  text-align: center;
}


.card-product-myitems img {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
  border-radius: 16px;
}

.card-product-myitems h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: $cherry;

}

.card-product-myitems p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;

}

.card-product-myitems .card-product-infos {
  background-color: $white;
  border-radius: 8px;
  margin: 10 auto;
  padding: 24px 16px;
  min-height: 150px;
  width: 100%;
}

.update-delete {
  background-color: $white;
  display:flex;
  justify-content: space-around;
  font-size: 12px;
  padding: 4px;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  min-height: 80px;
}

.update-delete  .far {
  font-size: 20px;
}

.cherry {
  color: $light-cherry;
  cursor: pointer;
  opacity: .7;
}

.cherry:hover {
  opacity: 1;
}
