.card-product-borrowing-lending {
  width: 300px;
  height: 600px;
  background-color: $light-gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  box-shadow: $box-shadow;

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

}

.card-product-image img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 16px;
}


.card-product-borrowing-lending h2 {
  font-size: 16px;
  font-weight: bold;
  color: $cherry;
}

.card-product-borrowing-lending p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  }

.card-product-borrowing-lending .card-product-infos {
  background-color: $white;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 24px 16px;
  min-height: 80px;
  width: 100%;
}


.card-product-infos-borrowing-lending {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 24px 16px;
  min-height: 64px;
  width: 100%;
}



.request-infos {
  background-color: $white;
  border-radius: 8px;
  padding: 24px 16px;
  min-height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 16%;
    height: auto;
  }
}

.status {
  display:flex;
  height: 100px;
}


.status .approved {
  color:green;
  font-size: 16px;;
}

.status .pending {
  color: $gold;
  font-size: 16px;;
}

.status .declined {
  color: $cherry;
  font-size: 16px;;
}

.request-infos-dates{
  background-color: $white;
  border-radius: 8px;
  padding: 24px 16px;
  min-height: 106px;
  width: 100%;
}


.request-infos-dates h2 {
  font-size: 16px;
  color: $cherry;
  text-align: center;

}
