.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  width: 500px;


  h1 {
    margin-bottom: 0;
    padding-bottom: 1rem;

  }

  .messages {
    height: 76%;
    overflow: scroll;
    padding: 1rem;
    overflow-x: hidden;
    border: 1px #CED4DA;
    border-style: solid;
    border-radius: 16px 0px 0px 16px;



  }

  #new_message {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    .button-gold{
      border-radius: 16px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}
