.chatroom {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow:$box-shadow;
  border-radius: 8px;
  min-width: 1000px;
  padding: 24px;



  h1 {
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-family: Inter;

  }

  .messages {
    overflow: scroll;
    padding: 1rem;
    overflow-x: hidden;
    border: solid 1px $gray;
    border-style: solid;
    border-radius: 8px;;
    width: 100%;
    min-height: 400px;
    align-self: center;
  }

  #new_message {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    // .button-gold{
    //   border-radius: 16px;
    // }

    .form-group {
      margin-bottom: 0;
    }
    .form-control {
      border: solid 1px $gray;
    }
  }
}
