.card-product-infos {
  position:relative;
}

.form-update {
  font-size: 12px;
  background-color: $light-cherry;
  width: 300px;
  height: 600px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: $box-shadow;
  .form-text {
    color: white;
  }
}

.form-select {
  font-size: 14px;;
}

.reviews_form {
  height: 200px;
  font-size: 12px;
}
