.card-product-infos {
  position:relative;
}

.form-update {
  position: relative;
  bottom: 200px;
  right: O;
  z-index: 10;
  width: 360px;
  border-radius: 8px;
  font-size: 12px;
  background-color: $light-cherry;

}

.form-select {
  font-size: 14px;;
}

.reviews_form {
  height: 200px;
  font-size: 12px;
}
