.mapboxgl-popup {
    max-width: 150px;
  }

.mapboxgl-popup-content {
    text-align: center;
    z-index:1000;

  }

.mapboxgl-ctrl-geocoder {
    max-width: none;
    width: 100%;
    border: 1px solid lightgrey;
    box-shadow: none;
  }
