.mapboxgl-canvas {
  border-radius: 16px;
}


.mapboxgl-popup {
   width: 600px;
   height: 25px;
}



.mapboxgl-popup-content {
    text-align: center;
    border-radius: 8px;
    background-color: $jf-pink;
    position:relative;
  }

.mapboxgl-popup-content h4 {
  font-size: 16px;
  color: $cherry;
  }

.mapboxgl-ctrl-geocoder {
    max-width: none;
    width: 100%;
    border: 1px solid lightgrey;
    box-shadow: none;
  }


.avatar-name-map {
  display:flex;
  gap: 4px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  display:none;
}

.name-user-map {
  font-weight: bold;
  color: $cherry;
  text-align: start;
}

.address-map {
  text-align: start;
  font-size: 10px;
}
