.nav-header {
  display: flex;
  justify-content: space-between;
  background: $jf-pink;
  width: 100%;
  padding: 8px 18px;
  height: 64px;
  margin-bottom: 8px;
  position: fixed;
  top: 0px;
  left: 0;
  z-index:1;


  img {
    height: 50px;
    width: 50px;
  }
}


  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 16px;
  }
