.nav-link {
  border-radius: 8px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: $jf-pink;
  color: $gray;
}

.tab-pane {
  height: 700px;
  width: 1200px;
}

.tab-content {
  border-radius: 8px;
}
