.nav-pills > .nav-link {
  border-radius: 8px;
  font-size: 14px;
  white-space: pre;
  margin-right: 8px;
  }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: $jf-pink;
  color: $gray;
}

.tab-pane {
  min-height: 80%;
  min-width: 80%;
}

.tab-content {
  border-radius: 8px;
  min-height: 560px;
  width: 1116px;
  padding: 16px;

}
